<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">    
</head>

<body>
    <div class="main-content"> 
    {{>header}}
    <p>This site was create by Mohd Emran. It used mapbox.com and darksky.net to predict weather on any location</p>
    <image class="portrait" src="/img/myself.jpg"></image>
    </div>
    {{>footer}}
</body>
</html>